@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
@import url( 'https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url( 'https://fonts.googleapis.com/icon?family=Material+Icons');
$color-darkest: #0277BD;
$color-dark: #03A9F4;
$color-med: #4FC3F7;
$color-white: whitesmoke;
$color-green: #5CDB80;
$color-red: #FF5593;
$back-gradient: linear-gradient(to top, #4481eb 0%, #04befe 100%);

@media (hover:hover) {
  button:hover, button:active {
    background-color: $color-med;
    border: 2px solid $color-med;
    color: $color-white;
  }
}

body,
ul {
    margin: 0;
    padding: 0;
}

button {
  align-self: center;
  background-color: $color-white;
  border: 2px solid $color-white;
  //border: 0;
  border-radius: 190px;
  color: $color-darkest;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  margin: .5em 0;
  outline: none;
  padding: 1em;
  transition: all 0.25s ease;
  max-width: 400px;
  //width: 200px;
  width: 100%;
  &:disabled, &:disabled:hover {
    cursor: auto;
    pointer-events: none;
  }
  // &:hover, &:active {
  //   background-color: $color-med;
  //   border: 2px solid $color-med;
  //   color: $color-white;
  // }
}

h2 {
  font-weight: normal;
}

ul {
    list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

// Styling for score displays
.score-high {
  color: $color-green;
}

.score-low {
  color: $color-red;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
