@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
@import url( 'https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url( 'https://fonts.googleapis.com/icon?family=Material+Icons');
$color-dark: #193441;
$color-med: #2E79BA;
$color-white: #FFF;
$color-green: #2EB872;
$color-red: #FA4659;
